[Unit]
Description=Manage API IPG Dashboard Node service
After=network.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/var/www/monitoring/expresspg-dashboard/
ExecStart=/var/www/monitoring/expresspg-dashboard/extras/start-service.sh
ExecStop=/var/www/monitoring/expresspg-dashboard/extras/stop-service.sh
User=root
Restart=on-failure
RestartSec=60
StandardOutput=syslog
SyslogIdentifier=expresspg-dashboard

[Install]
WantedBy=multi-user.target network-online.target